@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
body {
  background-color: #344339; /* For background color */
  /* font-family: "Ubuntu", sans-serif; */
}
* {
  padding: 0;
  margin: 0;
}
nav {
  color: white;
}
ul {
  font-family: "Ubuntu", sans-serif;
  align-items: center;
  display: flex;
  list-style-type: none;
  height: 65px;
  background-color: black;
  font-size: 19px;
}
nav ul li {
  padding: 0 12px;
}
.brand img {
  width: 46px;
  padding: 0 8px;
}
.container {
  font-weight: bolder;
  min-height: 70vh;
  background-color: black;
  color: white;
  font-family: "Ubuntu", sans-serif;
  display: flex;
  width: 70%;
  padding: 32px;
  margin: 23px auto;
  border-radius: 12px;
  background-image: url(Background.jpg);
}

.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.bottom {
  position: sticky;
  height: 115px;
  background-color: black;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
}
.icons {
  margin-top: 34px;
}
.icons i {
  cursor: pointer;
}
#myProgressBar {
  width: 80vw;
  text-align: center;
  cursor: pointer;
}
.songItemContainer {
  margin-top: 34px;
}

.songItem {
  height: 50px;
  display: flex;
  background-color: white;
  width: 80%;
  margin: 12px;
  color: black;
  justify-content: space-between;
  align-items: center;
  border-radius: 34px;
  padding: 10px;
  margin-left: 44px;
  margin-top: 20px;
}
i {
  cursor: pointer;
}
.songItem img {
  width: 43px;
  margin: 0 23px;
  border-radius: 10px;
}
.timestamp {
  margin: 0 23px;
}
.songInfo {
  font-family: "Ubuntu", sans-serif;
  position: absolute;
  left: 9vw;
  top: 2vw;
  align-items: center;
  display: flex;
  margin: 12px;
}
.songInfo img {
  height: 3vw;
  opacity: 0;
  transition: opacity 0.4s ease-in;
}
